section{
	margin-right: 25%;
	margin-top: 10%;
	margin-left: 25%;
	//margin-bottom: 25%;
	height: 45%;
	background-attachment:fixed;
	border-radius:10%;
    background-color:hsl(0, 0%, 29%);
}
.image{
	/* on place les images au bon endrois*/
	float: left;
	margin-top: -9%;
	margin-left: 5%;
}

.titreJeux{
	font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    margin-left: 60%;
    margin-right: 28%;
    padding-top: 8%;
    
    
}

ul.serie-info { 
	color: hsl(173, 4%, 61%);
    list-style-type: none;
    margin-left: 40%;
    margin-right: 3%;
    margin-top: 6%;
}
.style-serie {
    color: hsl(27, 99%, 52%);
    list-style: none;
}

#menu_Nav{	
	list-style: none;
	margin-left: 82%;
	margin-right: 4%;
	margin-top: -15%;
	padding-top: 5%;
	padding-bottom: 5%;
	background: hsl(180, 2%, 32%);
}

#menu_Nav1{

	color: #fe780c;
	font-size: 1.3em ;
	margin-left: 25%;
}

/*modification de la couleur des liens du site*/
a:link {text-decoration:none; color:white}
a:visited {text-decoration:none; color:white}


